@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.navbar-nav.navbar-right:last-child{
    margin-right: 0;
}
body{
}

h1{
    background-color: black;
    text-align: center;
}

a{
    font-size: 20;
}

p{
    font-size: 20;
}

li
{
    font-size: 20;
}

footer{
    background: black;
    color: grey;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 30;
}